<h1>Home Page</h1>
<form>

  <div class="form-group row" *ngFor="let input of getInputs()">
    <div class="col-md-12 text-left">
      <label class="col-form-label-lg" for="{{input.name}}">{{input.label | titlecase}}</label>
      <input type="text" id="{{input.name}}" class="form-control" placeholder="Please enter a {{input.label}}">
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-4" *ngFor="let input of getOptionalInputs()">
      <button type="button" class="btn btn-primary btn-lg" (click)="toggleVisibility(input.name)">
        {{getOptionalButtonLabel(input.name)}}
      </button>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-12">
      <a routerLink="/plot">
        <button type="button" class="btn btn-primary btn-lg">Generate</button>
      </a>
    </div>
  </div>
</form>
