<div class="ng-autocomplete">
  <ng-autocomplete
    [data]="getData()"
    [searchKeyword]="keyword"
    (selected)='selectEvent($event)'
    (inputCleared)="resetEvent()"
    [itemTemplate]="itemTemplate"
    [notFoundTemplate]="notFoundTemplate"
    placeHolder="Please enter a {{label}}"
    [disabled]="!isDataLoaded()"
    (inputChanged)="handleChange($event)"
  >
  </ng-autocomplete>

  <ng-template #itemTemplate let-item>
    <a [innerHTML]="item.name"></a>
  </ng-template>

  <ng-template #notFoundTemplate let-notFound>
    <div [innerHTML]="notFound"></div>
  </ng-template>
</div>
